td.c000 { background: #ffffff; color: #7f7f7f; }
td.c001 { background: #ff9090; color: #7f1010; }
td.c002 { background: #ff2020; color: #7fa0a0; }
td.c003 { background: #ff6a20; color: #7feaa0; }
td.c004 { background: #ffb520; color: #7f35a0; }
td.c005 { background: #ffda20; color: #7f5aa0; }
td.c006 { background: #ffff20; color: #7f7fa0; }
td.c007 { background: #90ff20; color: #107fa0; }
td.c008 { background: #20ff20; color: #a07fa0; }
td.c009 { background: #30a08f; color: #b0200f; }
td.c010 { background: #4040ff; color: #c0c07f; }
td.c011 { background: #5030d0; color: #d0b050; }
