body
{
	font-family: sans-serif;
}

table
{
	/* width: 400px; */
}

td
{
	padding: 2px;
}

td.betterhover, #EratoData tbody tr:hover
{
	background: LightCyan;
}

td.c01
{
	background: #3040FF;
}
td.c02
{
	background: #4050F0;
}
td.c03
{
	background: #5060E0;
}
td.c04
{
	background: #6070D0;
}
td.c05
{
	background: #7080C0;
}
